<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Prost-o-Projekt</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <style> body { max-width: 90ch; } </style>
</head>
<body>
  <header>
    <h1>Prost-o-Projekt (Monolit)</h1>
    <nav>
      <a href="/">Strona Główna</a>
      <a href="/projects">Projekty</a>
    </nav>
  </header>
  <main>