version: '3.8'

services:
  app:
    build: .
    container_name: prost-o-projekt-app
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_USER=admin
      - DB_PASSWORD=secret
      - DB_NAME=prostoprojekt
      - DB_PORT=5432
      - PORT=3000

  db:
    image: postgres:14
    container_name: prost-o-projekt-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=prostoprojekt
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: