# Ten plik jest przeznaczony tylko do uruchamiania testów
services:
  notification-service-test:
    build:
      context: ./services/notification-service
      dockerfile: Dockerfile.dev # Użyj pliku z Mavenem!
    # Uruchom komendę testową
    command: mvn test

  user-service-tests:
    build:
      context: ./services/user-service
      # Mówimy, żeby użył pliku Dockerfile.dev
      dockerfile: Dockerfile.dev
    env_file:
      - ./.env